// @import "../../assets/theme-variables.scss";

$bg-color: #6098ba;
$header-color: #182f4b;
$new-note: #182f4b;
$font-color: #c9d8e6;
$button-color: #266396;
$font-button: #c7a729;
$note-color: #266396;

.card {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border-radius: 9px;

  &__contain {
    text-align: left;
    width: 48%;
  }

  &__title {
    word-break: break-word;
    font-weight: 600;
  }

  &__tag {
    height: 8px;
    margin: 5px;
    font-size: 10px;
  }

  &__button {
    width: 90px;
    height: 25px;
    background: $button-color;
    // @include themify($themes) {
    //   background: themed("button-color");
    // }
  }

  &__button-container {
    display: flex;
    justify-content: space-around;
  }
}
